:root {
    background-color: rgb(33, 36, 43);
    text-align: center;
}

h1 {
    font-size: 40px;
}

header {
    font-size: 4vh;
    padding: 20px 10px;
}

div #search {
    padding-bottom: 14px;
}

div #search input {
    background-color: rgb(49, 49, 65);
    border: 1px solid whitesmoke;
    color: white;
}

div #search input:last-child:hover {
    color: gold
}

div #search p {
    color: red;
}

#searchBox {
    margin-left: 10px;
}

div #results {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.result {
    /* border: 1px gold solid; */
    background-color: rgba(58, 58, 58, 0.637);
    margin: 10px;
    min-width: 360px;
    max-width: fit-content;
    min-height: 180px;
    display: flex;
    justify-content: center;
    padding: 30px;
}

.result a {
    color: gold;
}

.result a:hover {
    text-decoration: none;
}